{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Mission edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-success" type="submit">Edit</button>
    {{ form_end(edit_form) }}
    <div class="row">
        <a class="btn btn-warning" href="{{ path('mission_index') }}">Back to the list</a>
        {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
